<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Student Information</title>
</head>
<body>
	<h1>please fill this form</h1>
	<!-- method post means we'll have to use post mapping  -->
	<form method="post" action="/formPost">
First Name: <input type="text" name="firstName" /><br>
Last Name: <input type="text" name="lastName" /><br>
Email: <input type="email" name="email" /><br>
Student Number: <input type="number" name="studentNumber" /> <br>
Birthday: <input type="date" name="birthday" /><br>
<input type="submit" value="Go!" />
</form>
	
</body>

</html>