<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Height</title>
    <style>
        h1 {
            font-size: 5rem; /* Adjust font size to display your "perfect height" */
            color: green;
        }
        body {
            background-color: lightgrey;
            text-align: center;
            font-family: Georgia, serif;
        }
    </style>
</head>
<body>
    <h1>This is my Perfect Height!</h1>
    <a href="/">Return to Index</a> 
</body>
</html>
