<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferred Name</title>
    <style>
        h1 {
            font-weight: bold;
            color: darkblue;
            text-decoration: underline;
        }
        body {
            background-color: white;
            text-align: center;
            font-family: Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Call Me: Navrose!</h1>
    <a href="/">Return to Index</a> 
</body>
</html>
